.dead-link {
  color: #880000;
  @media (prefers-color-scheme: dark) {
    color: #ff9999;
  }
}

.admonition {
  $border-color: #aaa;
  &.important {
    $border-color: #a947ee;
  }
  &.note {
    $border-color: #00aaff;
  }
  &.tip {
    $border-color: #00ff00;
  }
  &.warning {
    $border-color: #ffcc00;
  }
  &.danger {
    $border-color: #ff0000;
  }
  &.caution {
    $border-color: #ff8800;
  }
  &.info {
    $border-color: #00ffff;
  }
  &.quote {
    $border-color: #e450e4;
  }

  border-left: 3px solid $border-color;
  padding-left: 1rem;

  .admonition-title {
    font-size: 2rem;
    font-weight: bold;
    color: lighten($border-color, 15%);
  }
}
